:root {
  --green: #00FF00;
  --white: #FFFFFF;
  --black: #000000;
  --sobrevidas: #1790F7;
}

* {
  color: var(--fontColor);
  font-family: Times New Roman;
}

body {
  background: var(--bg);
}

ul {
  font-family: Courier;
}

li {
  list-style: square;
}
.list {
  list-style: circle;
}

.light-theme {
  --bg: var(--sobrevidas);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}

.black-theme {
  --bg: var(--black);
  --fontColor: var(--white);
  --btnBg: var(--sobrevidas);
  --btnFontColor: var(--white);
}

.btn {
  position: absolute;
  top: 700px;
  left: 350px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.btn:focus { outline-style: none;}
